<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommender System</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<style>
    .text-white{
        color: white;
    }
</style>

<body style = "background-color: black">
    <nav class = "navbar">
        <a class = "navbar-brand"> My Book Recommender System </a> 
        <ul class = "nav">
            <div class="topnav">
                <li><a href="/">Home</a></li>
                <li><a href="/Recommend">Recommender</a></li>
                
            </div> 
            
        </ul>    
    </nav>        
</body>
    <div>
        <div class = "container">
            <div class = "row">
                <div class = "col-md-12">
                    <h1 class = " text-white">Welcome to My Book Recommender System</h1>
                    <h2 class = " text-white">Top 50 Books</h2>
                </div>

                {% for i in range(book_name | length)%}
                <div class="col-md-3" style ="margin-top:50px">
                    <div class="card">
                        <div class="card-body" style = "background-color: black">
                            <img class = "card-body" src = {{ image[i] }} >
                            <p style = "color:white"> {{ book_name[i] }} </p>
                            <p style = "color:white">{{ rating[i] }}</p>
                            <p style = "color:white">{{ author[i] }}</p>
                            <p style = "color:white">{{ votes[i] }}</p>
                        </div>    
                    </div>    
                </div>  
                
                {% endfor%}

            </div>
        </div>
    </div>    

</body>
</html>